
 .search-title {
     width: 100%;
     position: relative;
 }
.title-container {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    border: 1px solid #ddd;
    z-index: 1;
}
.title-container a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.title-container a:hover {
    background-color: #f1f1f1;
}
